# === ENTORNOS VIRTUALES Y VARIABLES DE ENTORNO ===
.venv
.env

# === EDITOR ===
.vscode/
.idea/

# === ARCHIVOS DE COMPILACIÓN DE PYTHON ===
**/__pycache__/
*.pyc
*.pyo
*.pyd

# === DEPENDENCIAS FRONTEND ===
frontend/node_modules/
frontend/package-lock.json

# === HERRAMIENTAS DE LINTER / FORMATTER ===
.ruff_cache/

# === PYTEST ===
.pytest_cache/

# === ENTORNO FLASK ===
instance/
.env
*.sqlite3

# === CACHE Y LOGS ===
*.log
*.pot
*.mo
*.db
*.egg-info/
.cache/
.coverage
htmlcov/
.tox/